<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="static/styles.css">

    <style>
        #user_display_name {
            font-size: 1.2em;
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- escape the script tags because HTML parsers don't know to ignore tags in strings -->
    <%- `\<script\>const loggedIn = ${userData !== null};\<\/script\>` %>

    <script src="/static/scripts.js"></script>

    <div class="navbar">
        <a href="/" class="brand"><span>RAVEN</span><span>DRIVES</span></a>
        <div>
            <% if (userData===null) { %>
                <a href="login" class="btn" style="padding: 8px 16px; font-size: 0.8rem;">Login</a>
                <span style="display: inline-block; width: 4px;"><!-- spacer --></span>
                <a href="signup" class="btn" style="padding: 8px 16px; font-size: 0.8rem;">Create Account</a>
            <% } else if (!url.startsWith("/login") && !url.startsWith("/signup")) { %>
                <div class="dropdown">
                    <span class="display_name dropbtn" id="user_display_name"><%= userData?.name %></span>
                    <div class="dropdown-content">
                        <a href="account">Account</a>
                        <a href="rides">Rides</a>
                        <a href="offers">Offers</a>
                        <a href="requests">Requests</a>
                        <a href="help">Help</a>
                        <a href="javascript:void(0);" onclick="logout()">Log out</a> 
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <div class="container">
        <% if (userData?.status===0 && !url.startsWith("/confirm_email")) { %>
            <div class="centered-form-wrapper">
                <h2 class="text-center w-100">You must verify your email address before you can use the service</h2>
                <a href="confirm_email" class="btn w-100" style="padding: 8px 16px; font-size: 0.8rem;">Verify</a>
            </div>
        <% } else { %>
            <%- content %>
        <% } %>
    </div>

    <footer>
        <div class="footer-menu">
            <a href="https://github.com/vExcess/raven-drives">GitHub</a>
            <a href="help">Support</a>
            <a href="about">About Us</a>
            <a href="https://mit-license.org/">License</a>
            <div class="copyright"> 
                &copy; Copyright <%= new Date().getFullYear() %> Raven Drives   
            </div>
        </div>
    </footer>

</body>
</html>